@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@300;400;700&display=swap');

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
 }

html {
  scroll-behavior: smooth;
}
  
body {
  background-color: #00070F;
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 2.5rem;
    margin-bottom: 2rem;
}

h4{
  font-size: 1em;
  color: #6CADEF;
  font-weight: regular;
  padding-bottom: 1em;
  font-style: italic;
}

span{
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Cormorant Garamond', serif;
}

p{
  font-size: 1.25rem;
}


/* Navigation styles */
header {
  padding: 2rem 4rem;
  position: fixed;
  z-index: 100;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: bold;
  width: 100%;
}

nav{
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}

nav li {
  margin: 0 20px;
  filter: drop-shadow( 0 0 5px rgba(0, 0, 0, 0.5));
}
  
header nav ul li a:hover {
  color: #6CADEF;
  text-shadow:0px 0px 30px #6CADEF;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Sidebar section styles */
.sidebar {
  width: 80px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.icon {
  margin: 10px 0;
  font-size: 20px;
  height: 40px;
  transition: all 0.3s ease;
  filter: drop-shadow( 0 0 5px rgba(0, 0, 0, 0.5));
}

.icon:hover {
  transform: scale(1.1);
}

/* Hero section styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  background-image: url("/Users/ezrareadhead/Desktop/Avatar-Official/assets/images/avatar-series-jake-sully-and-neytiri-wallpaper-3554x1999_53.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  height: 100vh;
  margin: 0 0 0 0;
}
  
.hero h1 {
  font-size: 5rem;
  text-align: left;
}

.tagline {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin-left: 0 auto;      
}

.tagline h2{
  text-align: end;
  font-size: 2.5em;
}

.fa-circle-play{
  opacity: 0.7;
  font-size: 4rem;
  cursor: pointer;
}

.fa-circle-play:hover{
  transform: scale(1.1);
}

/* Spacer section styles */
.symbol{
  width: 2.5vw;
}

.spacer{
  display: flex;
  flex-direction: column;
  margin: 5em 0;
  align-items: center;
}

.spacer p{
  max-width: 1000px;
}

#highlight{
  background: -webkit-linear-gradient(90deg, rgba(108,173,239,1) 0%, rgba(38,85,166,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Character cards section styles */
#characters{
  row-gap: 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 5rem;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 0rem 5rem;
}

.characters::-webkit-scrollbar {
  display: none;
}

.card-container{
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: space-between;
}

.card {
  width: 20vw;
  overflow: hidden;
  background-color: #fff;
}

.card:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.card img {
  height: 70%;
  width: 150%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.card h3 {
  font-size: 1.5rem;
  color: #2655A6;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
}

/* Banner styles */
.banner{
  width: 100vw;
  height: fit-content;
  background-image: url("/Users/ezrareadhead/Desktop/Avatar-Official/assets/images/Avatar-The-Way-of-Water_1-1-scaled-1-1080x605.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.banner-container .banner{
  -webkit-filter: blur(20px);
  position: absolute;
  top: 0%;
  height: 100%;
  padding: 0;
}

.banner-container{
  width: 50%;
  overflow: hidden;
  position: relative;
  height: max-content;
}

.banner-text{
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

.banner-container h1, .banner-container i{
  position: relative;
  margin-top: 0 auto;
}

/* Trailer section styles */
iframe{
  border: none;
}
 
/* News carousel styles */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  width: 100%;
  height: fit-content;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  flex: 1 0 100%;
  width: 100%;
  min-height: fit-content;
  background-position: end center;
  background-size: cover;
  cursor: pointer;
  padding: 5em;
}

.carousel-item h1, .carousel-item h2{
  text-align: left;
  padding: 2rem;
  filter: drop-shadow( 0 0 5px rgba(0, 0, 0, 0.5));
  margin-bottom: 0;
}

.carousel-item:hover {
  opacity: 0.8;
}

.carousel-prev,
.carousel-next {
  top: 50%;
  position: absolute;
  padding: 2em;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 10px;
  cursor: pointer;
  filter: drop-shadow( 0 0 5px rgba(0, 0, 0, 0.5));
}

.carousel-indicator.active {
  background-color: #2655A6;
}

/* Awards section */
#awards {
  margin: 5em 0;
  display: flex;
  align-items: center;
}

#symbol-2{
  margin-top: 2rem;
}

.flower{
  width: 50vw;
  mix-blend-mode: exclusion;
}

/* Merchandise section */
.visual {
  height: 50vh;
  background-image: url("/Users/ezrareadhead/Desktop/Avatar-Official/assets/images/layered-waves-haikei.svg");
  width: 100vw;
  object-fit: fill;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw;
}

#shop{
  background-color: #fff;
  color: #000;
}

.shop{
  display: flex;
  flex-direction: column;
  padding: 2em 5em;
  justify-content: baseline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  margin-top: 40px;
  justify-content:first baseline;
  position: relative;
}

.grid-item{
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  row-gap: 1em;
}

.grid-item:hover img{
  transform: scale(1.1);
}

.grid-item img {
  display: block;
  max-width: 80%;
  height: auto;
  filter: drop-shadow(7px 7px 7px #000);
  -webkit-filter: drop-shadow(7px 7px 7px #000);
}

/* Footer Styles */
footer {
  background-image: url("/Users/ezrareadhead/Desktop/Avatar-Official/assets/images/3687afc2759a1e990b531dab7cab155b0e-avatar-2.2x.rhorizontal.w700.jpg.webp");
  padding: 5em;
  text-align: center;
  height: fit-content;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

/* Media query for smaller screens */
@media screen and (orientation:portrait) {

  .banner{
    height: min-content;
  }

  .hero{
    height: 50vh;
    flex-direction: column;
    padding: 5rem 5rem;
  }

  .tagline{
    height: fit-content;
    flex-basis: 0%;
  }

  .grid-item{
    min-width: 600px;
    max-width: 800px;
  }

  .grid-container{
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  nav ul li{
    margin: 0;
    font-size: 2em;
  }

  .visual{
    height: 30vw;
    overflow: visible;
  }

  .carousel-item{
    background-position:  center;
  }
}